*{
  padding: 0;
  margin: 0;
}
body{
  background-attachment: fixed;
background-repeat: no-repeat;
    background-image: url("../5040007.jpg");
    background-size:cover  ;
}
header{
  display: flex;
}
.navlogo{
  padding: 8px 10px;
  float: left;
  width: 40%;
    align-items: center;
  display: flex;
}
.navlogo img{
  width: 10%;
  border-radius: 35px;
  border:5px solid green;
}
.navlogo h1{
  padding: 0px 5px;
  font-size: 25px;
  color: #4cc03f;
}
.navurls{
  width: 60%;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  padding-right: 50px;
}
.navurls li{
  padding: 12px 10%;
}
.navurls li a{
  text-decoration: none;
  color: #4cc03f;
  justify-content: center;
  align-items: center;
  text-align: center;
    padding: 12px 100%;
}
.navurls li a:hover{
  text-decoration:underline;
  color: #4cc03f;
  background-color: blue;
  border: 1px solid white;
}
#home{
  display: flex;
  padding: 15px 15px;
}
#home img{
  width: 800px;
  height: 550px;
}
#home .paragraph{
  padding: 35px 35px;
  line-height: 50px;
}
#home .paragraph h3{
  color:violet;
}
#home .paragraph h5{
  color: lightblue;
}
#about{
  padding: 15px 15px;
}
#about h2{
  color: #4cc03f;
  text-align: center;
  border-style: solid;
}
#about img{
  padding: 5px 5px;
  float: right;
}
#about p{
  color: grey;
  font-size: 25px;
  padding: 15px 115px;
}
#about .content table{
  color: lightblue;
  padding: 10px 180px;
}
